/*{
    margin-left: 10%;
    font-size: 1.2em;  
}

button{
    padding-top: 3%;
    background-color: blueviolet;
}*/
body{
    background-color: black;
    
    font-family: 'Allerta Stencil', sans-serif;

    /*font-family: 'Playfair Display SC', serif; */

}
.square{
   width: 30%;
   background: darkcyan;
   padding-bottom: 30%;
   float: left; 
   margin: 1.66%;
}

#container {
    margin: 0 auto; /* centers it */
    max-width: 30%;
    /*max-width: 600px;*/
    padding-top: 2%;
}

h1{
    color: beige;
    margin-left: 30%;
}
/* test */